* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: hsl(214, 100%, 62%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
  width: 100vw;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
  overflow: hidden;
}

.board {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  column-gap: 5px;
  row-gap: 2.5px;

  height: 50%;
  width: 100%;

  overflow-y: scroll;
}

.board--player {
  padding: 0 0 5px 0;
}

.board--enemy {
  padding: 5px 0;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1;

  font-size: 1em;
  color: hsl(0, 0%, 100%);
}

.square--player {
  background-color: hsl(120, 100%, 25%);
}

.square--enemy {
  background-color: hsl(0, 100%, 50%);
}
