* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: hsl(214, 100%, 62%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 95%;
  width: 95%;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50%;
  width: 100%;
}

.board__content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
}

.board__game_option_button {
  padding: 1.25% 2.5%;
  border: 0.1rem solid hsl(0, 0%, 0%);
  border-radius: 4px;
  background-color: transparent;
  margin: auto;

  color: hsl(0, 0%, 0%);
  font-size: 1.5rem;
  white-space: nowrap;
  text-align: center;

  transition: 0.5s;
}

.board__game_option_button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  transform: scale(1.25);
  cursor: pointer;
}

.board__game_option_input,
.board__game_option_label {
  padding: 0.15% 0.15%;
  background-color: transparent;
  margin: auto;

  color: hsl(0, 0%, 0%);
  font-size: 1.25rem;
  white-space: nowrap;
  text-align: center;

  transition: 0.5s;
}

.board__game_option_label {
  width: 100%;
  margin-bottom: -0.5%;
}

.board__game_option_input {
  border: 0.1rem solid hsl(0, 0%, 0%);
  border-radius: 4px;
}

.board__game_option_input:focus {
  font-size: 1.5rem;
}

.board__ship_name {
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-size: 1.5rem;
}

.board__squares {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  height: 100%;
  width: 100%;
}

.board__square {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;

  height: calc(50vh / 10);
  width: calc(50vh / 10);

  font-size: 1rem;
  color: hsl(0, 0%, 100%);

  transform: scale(0);
  animation: scaleUp 0.5s forwards;
}

@keyframes scaleUp {
  100% {
    transform: scale(1);
  }
}

.board__square--player {
  background-color: hsl(250, 100%, 50%);
}

.board__square--enemy {
  background-color: hsl(0, 100%, 50%);
}

.board__square--valid {
  background-color: hsl(120, 100%, 25%);
}

.board__square--invalid {
  background-color: hsl(0, 100%, 50%);
}

.board__square--taken {
  background-color: hsl(120, 100%, 25%);
}

.board__square--player-hit {
  background-color: hsl(0, 100%, 50%);
}

.board__square--player-miss {
  background-color: hsl(46, 100%, 50%);
}
.board__square--enemy-hit {
  background-color: hsl(120, 100%, 25%);
}

.board__square--enemy-miss {
  background-color: hsl(250, 100%, 50%);
}

.board__squares_message_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.75);
  z-index: 1;
}

.board__message {
  padding: 0 20%;

  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.board__game_id {
  font-size: 1.5rem;
  color: hsl(0, 100%, 50%);
}

.board__result_message__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.75);
}

.board__result_message {
  padding: 1.25% 2.5%;
  color: hsl(0, 0%, 100%);
  font-size: 4.5rem;
}

@media (orientation: landscape) {
  .boards {
    flex-wrap: nowrap;
  }

  .board {
    height: 100%;
    width: 50%;
  }

  .board__square {
    height: calc(50vw / 10);
    width: calc(50vw / 10);
  }
}

@media (min-width: 720px) {
  .board__game_option_button,
  .board__square,
  .board__ship_name,
  .board__message,
  .board__game_id {
    font-size: 2rem;
  }

  .board__game_option_input,
  .board__game_option_label {
    font-size: 1.75rem;
  }

  .board__game_option_input:focus {
    font-size: 2rem;
  }

  .board__result_message {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .board__game_option_button,
  .board__square,
  .board__ship_name,
  .board__message,
  .board__game_id {
    font-size: 2.5rem;
  }

  .board__game_option_input,
  .board__game_option_label {
    font-size: 2.25rem;
  }

  .board__game_option_input:focus {
    font-size: 2.5rem;
  }

  .board__result_message {
    font-size: 7.5rem;
  }
}
