* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: hsl(214, 100%, 62%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
}

.board {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);

  height: 50%;
  width: 100%;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;

  height: calc(50vh / 10);
  width: calc(50vh / 10);

  font-size: 1em;
  color: hsl(0, 0%, 100%);
}

.square--player {
  background-color: hsl(120, 100%, 25%);
}

.square--enemy {
  background-color: hsl(0, 100%, 50%);
}

@media (orientation: landscape) {
  .boards {
    flex-wrap: nowrap;
  }

  .board {
    height: 100%;
    width: 50%;
  }

  .square {
    height: calc(50vw / 10);
    width: calc(50vw / 10);
  }
}
